@import url('./colors.css');
@import url('./fonts.css');

.container {
    min-width: 100vw;
    min-height: 100vh;

    background-color: var(--background-color);
}

.span-warning {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-16);
    line-height: var(--line-height-18);

    color: var(--alert-color);
}

.transform:hover {
    transform: scale(1.05);
}

.button {
    all: unset;
    box-sizing: border-box;

    width: 118px;

    padding: 20px 16px;

    font-weight: var(--font-weight-600);
    font-size: var(--font-size-16);
    line-height: var(--line-height-20);
    text-align: center;

    cursor: pointer;

    border-radius: 30px;

    color: var(--white-ice);
    background-color: var(--pink);
}